



/* @import "tailwindcss";
@layer utilities{
   @import "tailwindcss"; } */

/* @import "tailwindcss";
@layer utilities{
   @import "tailwindcss";

@layer utilities {

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateX(15px);
      
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .animation-fade-in {
    animation: fade-in 5s ease-out both;
  }

  .animation-delay-100 {
    animation-delay: 100ms;
  }
  .animation-delay-100{
    animation-delay: 800ms;
  }

  .animation-delay-800 {
    animation-delay: 1200ms;
  }
}
} */