

@tailwind utilities;
@import "tailwindcss";
@layer utilities{
   @import "tailwindcss";

@layer utilities {

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(20px);
      
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .animation-fade-in {
    animation: fade-in 2s ease-out both;
  }

  .animation-delay-100 {
    animation-delay: 100ms;
  }
  .animation-delay-400{
    animation-delay: 400ms;
  }

  .animation-delay-700 {
    animation-delay: 700ms;
  }
}


.animation-fade-in{
    animation:fade-in 0.8s ease-out both
}
 .animation-delay-100{
        animation-delay: 100ms;
    }
.animation-delay-800{
    animation-delay: 800ms;
}

}
/* *{
  margin: 0;
  padding: 0;
} */


